<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Estudiantes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="#">CRUD ESTUDIANTES</a>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/students}"> Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/students}"> READ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/students}"> UPDATE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/students}"> DELETE</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <h1>Lista de Estudiantes</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="student : ${students}">
                        <td th:text="${student.id}"></td>
                        <td th:text="${student.name}"></td>
                        <td th:text="${student.lastName}"></td>
                        <td th:text="${student.email}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>